/* * {
    border: 1px solid red;
} */


body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}



/* HEADER */

.header {
    background-color: #ff3d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    flex-wrap: wrap;

}


.header-logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

/* .header-link {
    display: flex;
    gap: 20px;
}

.header-link ul{
    flex-wrap: wrap;
} */

a {
    color: #E5E7EB;
    font-size: 12px;
    text-decoration: none;
}


li {
    list-style: none;

}

ul {
    display: flex;
    gap: 5px;
    padding-right: 50px;
}

img {

    height: 50px;
    width: auto;
}

/* Sub Menu */

#menu-toggle {
    display: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    display: inline-block;
    z-index: 1;
}

ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}


ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fb5407;
    padding: 0;
    min-width: 150px;
    z-index: 1;
}


ul li:hover>ul {
    display: block;
}




/* BODY */


/* Section 1 */

.section-1 {
    background-color: #f46709;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.section-1-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom:20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.section-1-secondary-text {
    color: #E5E7EB;
    font-size: 13px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.card-main-image img {
    width:300px;
    height: auto;
    padding-bottom: 20px;
    cursor: pointer;
}
